.container {
  border: 1px solid var(--gray-600);
  border-radius: 8px;

  background-color: var(--ice);
  color: var(--gray-600);

  height: 3.375rem;
  padding: 1rem;
  width: 100%;

  line-height: 140%;
}

.container::placeholder {
  color: var(--gray-300)
}

.container:focus {
  border-color: var(--purple-dark);
}